@page "/"
@using System.Net.Http.Headers

<PageTitle>Index</PageTitle>

<h1 class="text-4xl font-bold mb-4 mt-[111px]"> My Deck</h1>

<div class="grid grid-cols-1 gap-4 ">
@foreach (var flashcard in flashCards)
{
    <FlashCard Title="@flashcard.Title" FlipTitle="@flashcard.FlipTitle" FirstDesc= "@flashcard.FirstDesc"
                FlipFirstDesc = "@flashcard.FlipFirstDesc" SecondDesc= "@flashcard.SecondDesc" FlipSecondDesc= "@flashcard.FlipSecondDesc"
                ImagePath = "@flashcard.ImagePath" Id="@flashcard.Id" TimeOutValue="6" NextRequested="NextRequested"></FlashCard>  
     <div class="px-6 py-4" />
}
</div>
@code
{

    List<FlashCard> flashCards = new List<FlashCard>();
    public string? message { get; set; }
    public string? flipmessage { get; set; }
    public int Id { get; set; }

    List<string> Messages = new List<string>();
    List<string> FlipMessages = new List<string>();

    void NextRequested(int Id)
    {
        //if(Id < Messages.Count)
        //{
        //message = Messages[++Id];
        //flipmessage = FlipMessages[++Id];
        //++Id;
    //}
    }
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    protected override void OnInitialized()
    {
        if (flashCards != null)        
        {
            flashCards.Add(new FlashCard(0, "ありがとうございます.", "ThankYou", "手紙 / メール / メッセージ、ありがとう。" , "Thank you for the letter / email / message.", "https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"));
            flashCards.Add(new FlashCard(1, "こんにちは.", "Hello",  "手紙 / メール / メッセージ、ありがとう。", "Thank you for the letter / email / message.", "https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"));
            flashCards.Add(new FlashCard(2, "こんばんは.", "Good Evening",  "手紙 / メール / メッセージ、ありがとう。", "Thank you for the letter / email / message.", "https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"));
            flashCards.Add(new FlashCard(2, "おはようございます.", "Good Morning",  "手紙 / メール / メッセージ、ありがとう。", "Thank you for the letter / email / message.", "https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"));
        }
        base.OnInitialized();
    }

    public class FlashCard
    {
        public FlashCard(int paramId , string title, string flipTitle,
                         string firstDesc,string secondDesc, string imagePath)
        {
            Id = paramId;
            Title = title;
            FlipTitle = flipTitle;
            FirstDesc = string.Empty;
            FlipFirstDesc = firstDesc;
            SecondDesc = string.Empty;
            FlipSecondDesc = secondDesc;
            ImagePath = imagePath;
        }

        public int Id { get; set; }
        public string? Title { get; set; }
        public string? FlipTitle { get; set; }
        public string? FirstDesc { get; set; }
        public string? FlipFirstDesc { get; set; }
        public string? SecondDesc { get; set; }
        public string? FlipSecondDesc { get; set; }
        public string? ImagePath { get; set; }
    }
}
